version: '3.4'
services:
  apache:
    image: php:7.2-apache
    links:
      - postgres
    volumes:
      - ./:/var/www/html
    ports:
      - 80:80
  postgres:
      image: postgres:9.6
      environment:
          - POSTGRES_USER=postgres
          - POSTGRES_PASSWORD=password
          - POSTGRES_DB=yii2
      ports:
          - 5432:5432
      volumes:
          - ./runtime/docker/dbdata:/var/lib/postgresql/data
